{% extends 'template.html' %}
{% block title %}Group Information{% endblock %} 
{% block body_block %}
<div class="header"><div class="container">Group Information</div></div>
<div class="body-default">
	<div class="container">
		<h2>{{ studygroup.name }}</h2>
		<br />
		<p>
		<strong>Owner: </strong>
		    {{ studygroup.owner }}	
		</p>
				<p>
		<strong>Classes: </strong>
		{% for class in studygroup.course.all %}
		    {{ class }}	
		{% endfor %}
		</p>
		<p>
		<strong>Description: </strong>
		{{ studygroup.description }}
		</p>
	</div>
</div>
{% endblock %}