{% extends 'template.html' %}
{% block title %}Find Group{% endblock %} 
{% block body_block %}
<div class="header">Find Group</div>
<div class="body-default">
	<div class="container">
		{% if error %}
		<p class="error"> {{ error }}</p>
		{% endif %}
		<p>Input a course ID to find a group.</p>
		<p>Example: CS4753</p>
		<form id="findGroupForm" method="post" action="/findGroup/">
			{% csrf_token %}
			{{ findGroupForm }}
			<br/>
			<br/>
			<input type="submit" name="submit" value="Find Groups!" />
			{% if associatedGroups %}
			<br/><br/>
			<h2>Results for requested course ID: </h2>
			<table>
			{% for group in associatedGroups %}
		    	<tr>
		    		<td>
		    			<a href='/displayGroup/'> {{ group }} </a>
		    		</td>
		    	</tr>
			{% endfor %}
			</table>
		{% endif %}
		</form>
	</div>
</div>
{% endblock %}