{% extends 'template.html' %}
{% load staticfiles %}
{% block title %}Home{% endblock %} 
{% block body_block %}
<div class="jumbotron">
	<div class="container">
		<h1>Find a group to study with.</h1>
		<p>
			Look within the entire UVA community!
		</p>
		<div class="start-now"><a class="btn btn-success btn-lg" href="/browse/">Start Now</a></div>
	</div>
</div>
<div class="study-guides">
	<div class="container">
		<h2>Study Guides</h2>
		<p>
			Not sure how to study? Students have created study guides for classes all around grounds.
		</p>
		<div class="row">
			<div class="col-md-4">
				<div class="thumbnail">
					<img src="{% static 'studycollab/images/enwr.jpg' %}">
				</div>
				<div class="thumbnail">
					<img src="{% static 'studycollab/images/cs.jpg' %}">
				</div>
			</div>
			<div class="col-md-4">
				<div class="thumbnail">
					<img src="{% static 'studycollab/images/psyc.png' %}">
				</div>
				<div class="thumbnail">
					<img src="{% static 'studycollab/images/math.jpg' %}">
				</div>
			</div>
			<div class="col-md-4">
				<div class="thumbnail">
					<img src="{% static 'studycollab/images/logo_large.jpg' %}">
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}