{% extends 'template.html' %}
{% block title %}Register{% endblock %} 
{% block body_block %}
<div class="header">Register for UVAStudyCollab</div>
<div class="body-default">
	<div class="container">
	{% if registered %}
	<strong> Thank you for registering!</strong>
	<a href="/">Return to the homepage.</a><br />
	{% else %}
	<p>Please fill in all the fields and press "Register" to process your registration.</p>
	<form id="user_form" method="post" action="/register/" enctype="multipart/form-data">
		{% csrf_token %}
		{{ user_form.as_p }}
		<input type="submit" name="submit" value="Register" />
	</form>
	{% endif %}
	</div>
</div>
{% endblock %}
