{% extends 'template.html' %}
{% block title %}Register{% endblock %} 
{% block body_block %}
<div class="header"><div class="container">Register for UVAStudyCollab</div></div>
<div class="body-default">
	<div class="container">
	{% if registered %}
	<strong> Thank you for registering!</strong>
	<a href="/">Return to the homepage.</a><br />
	{% else %}
		{% if error %}
		<p class="error"> {{ error }}</p>
		{% endif %}
	<p>Please fill in all the fields and press "Register" to process your registration. A valid virginia.edu email is required to register.</p>
	<form id="user_form" method="post" action="/register/" enctype="multipart/form-data">
		{% csrf_token %}
		{{ user_form.as_p }}
		<button type= "submit" class="btn btn-default">Register</button>
	</form>
	{% endif %}
	</div>
</div>
{% endblock %}
