<!DOCTYPE html>
<html>
	<head>
		<title>UVAStudyCollab</title>
	</head>

	<body>
		<h1>Register for UVAStudyCollab</h1>

		{% if registered %}
		<strong> Thank you for registering!</strong>
		<a href="{% url index %}">Return to the homepage.</a><br />
		{% else %}
		<strong>Register Here!</strong><br />

		<form id="user_form" method="post" action="/studycollab/register/" enctype="multipart/form-data">

			{% csrf_token %}

			{{ user_form.as_p }}

			<input type="submit" name="submit" value="Register" />
		</form>
		{% endif %}
	</body>
</html>
