p.error {
  color: red;
}
.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

li.active {
  background-color: #D3D3D3;
  padding:14px 0 23px 0px;
}

.header {
  background-color: #D3D3D3;
  color: #393c3d;
  font-size: 24px;
  padding:13px 0 13px 120px;
}

.study-guides {
    background-color: #efefef;
    border-bottom:1px solid #dbdbdb;
}

.study-guides h2 {
    color:#393c3d;
    font-size:24px;
}

.study-guides p {
    font-size:15px;
    margin-bottom:13px;
}

.jumbotron {
  background-image:url('images/banner.jpg');
  height: 500px;
  margin-right: auto;
  margin-left: auto;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}

.learn-more {
  background-color: #f7f7f7;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
}

.body-default {
    background-color: #efefef;
    padding-bottom:13px;
    padding-top:13px;
    border-bottom:1px solid #dbdbdb;
}

.body-default h2 {
    color:#393c3d;
    font-size:24px;
}

.body-default p {
    font-size:15px;
    margin-bottom:13px;
}
